*,
*::after,
*::before{
    margin:0px;
    padding: 0px;
    box-sizing: inherit;
}

html{
    //defines 1 rem as 10px
    font-size: 62.5%;

    // @include respond(md){
    //     font-size: 56.25%;
    // }
    // @include respond(sm){
    //     font-size: 50%;
    // }
    // @include respond(lg){
    //     font-size: 60%;
    // }

}

body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: $cprimary;
    padding: 5vh;
    display: flex;
}
